.section-bg--shape_item svg {
    width: 100%;
    height: auto;
}
.collapse-title{
    padding-top: 10px;
    padding-bottom: 0;
    min-height: 0;
    
    display: flex;
    align-items: center;
    gap: 10px;
}
.collapse-arrow > .collapse-title:after {
    position: initial;
    flex: 0 0 0.5rem;
    margin-top: 7px;
}
:where(.collapse > input[type="checkbox"]){
    min-height: 0rem !important;
}
.collapse-content{
    padding-bottom: 0;
}
.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content) {
    padding-bottom: 0;
}
.collapse-arrow{
    gap: 0;
}


.card-shine-effect-metal {
    --shine-deg: 45deg;
    position: relative;
    overflow: hidden;
    border-radius: 0.875rem;
    padding: 4rem 2rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
     height: 180px;
    background: linear-gradient(to bottom, #b9b9b9, #bbbbbb, #a5a4a4);
  }
  
  .card-shine-effect-metal:after {
    content: "";
    top: 0;
    transform: translateX(100%) rotate(var(--shine-deg));
    width: 300%;
    height: 300%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      30deg,
      transparent 20%,
      transparent 40%,
      rgb(255, 255, 255, 0.4) 50%,
      rgb(255, 255, 255, 0.4) 55%,
      transparent 70%,
      transparent 100%
    );
    transition: transform 2s ease-in;
    transform: translateX(100%) rotate(var(--shine-deg));
  }
  
  .card-shine-effect-metal:hover:after {
    animation: shine 1s ease-in  ; 
  }
   
  
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  